@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


body {
  color: #fff;
  background-image: url(assets/bg-desktop.jpg);
  background-size: cover;
}

#box-container {

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 85vh;
  gap: 30px;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
  margin-top: 10px;
  width: 45%;
}

#avatar-img {
  border-radius: 50%;
}

#containerTheme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
}

#changeTheme {
  cursor: pointer;
  background-color: rgb(33, 33, 33,);
  border-radius: 5px;
  font-size: 50px;
}

.links {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.btn_links {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12pt;
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  width: 350px;
  height: 40px;
  border: 1px solid #fff;

  background-color: rgba(0, 0, 0, 0);

  transition: all 0.2s;
}

.btn_links:hover {
  background-color: rgba(35, 33, 55, 0.5);
  border: 2px solid #fff;
  backdrop-filter: blur(50px);
  font-size: 15pt;
}

.socialLinks {
  display: flex;
  gap: 20px;
}

ion-icon {
  color: #fff;
  font-size: 36px;
}

footer {
  margin-top: auto;
}



/*Light Mode*/

.lighmode {
  background-image: url(assets/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  color: black;
}

.lighmode #changeTheme {
  content: url(assets/sunny-outline.svg)
}

.lighmode .btn_links {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12pt;
  text-decoration: none;
  color: #000;
  border-radius: 8px;
  width: 350px;
  height: 40px;
  border: 1px solid #000;

  background-color: rgba(0, 0, 0, 0);

  transition: all 0.2s;
}

.lighmode .btn_links:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #000;
  backdrop-filter: blur(50px);
  font-size: 15pt;
}

.lighmode button {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000;
}

.lighmode button:hover {
    background-color: rgba(200, 100, 200, 0.4);
    backdrop-filter: blur(50px);
    border: 2px solid #000;
}

.lighmode ion-icon {
  color: #000;
  font-size: 36px;
}



/*
@media screen and (min-width: 480px) and (orientation: landscape) {
  
  body {
    color: #fff;
    background-image: url(assets/bg-mobile.jpg);
    background-size: cover;
  }

  #box-container {
    width: 100vw;
    height: 100vh;
    gap: 10px;

    margin: 15px 0pxpx;
  }

  #profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    gap: 10px;
    margin-top: 10px;
    width: 10%;
  }

  #avatar-img {
    width: 90px;
    height: 90px;
  }
  
  
  #containerTheme {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
  }

  .links {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }


  ion-icon {
    color: #fff;
    font-size: 20px;
  }


  .lighmode {
    background-image: url(assets/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
    color: black;
  }

  .lighmode ion-icon {
    color: #000;
    font-size: 20px;
  }
  


}
*/